---
layout: page
title: About
permalink: /about/
page_name: about
---

{% include elevator-pitch.html %}

<section class="about-section py-6 wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 about-text">
        <h2 class="our-story"><span class="high-letter">Our Story</span></h2>
        <p class="primary-heading">
          Shree Himalaya Secondary School was established in 1961 and registered under the Ministry of Education and Sport Government school, Nepal.
            It is an English medium school located at Barpak Village, Gorkha in Nepal.
            <br>
            Our school is dedicated to provide the educational facilities to the students and offers education from classes LKG to 12. 
            Our school encourages the students to actively participate in various co-curricular activities held in school.
            <br>
            More info needed....... <br>
            More info needed....... <br>
            More info needed....... <br>
            More info needed.......
        </p>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="embed-responsive embed-responsive-16by9 mt-4">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/TL8yqZlkBLQ?rel=0" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="">
          </iframe>
        </div>
      </div>
    </div>  

    <div class="row my-4">
      {% include vision-mission-values.html %}
    </div>


    <h2 id="chairpersonmessage" class="our-story wow fadeInUp">Message from Chairperson</h2>
    <div class="row wow fadeInUp">
      <div class="col-lg-3 col-md-4 pl-4 pt-4 pb-4">
        <img src="/assets/img/chairperson.jpg" class="card-img" alt="Message from Chairperson">
      </div>
      <div class="col-lg-9 col-md-8 message-body">
        <div class="card-body">
          <p class="card-text py-3">
            This is a message from chairperson about the school, education.
            This is a message from chairperson about the school, education.
            This is a message from chairperson about the school, education.
            This is a message from chairperson about the school, education.
            <a href="https://stx.edu.np/index">Example 1.</a>
            Or
            <a href="http://aryapublichighschool.com/about">Example 2.</a>
          </p>
        </div>
      </div>
    </div>

    <h2 id="principalmessage" class="our-story wow fadeInUp mt-4">Message from Principal</h2 id="chairpersonmessage">
    <div class="row wow fadeInUp">
      <div class="col-lg-3 col-md-4 pl-4 pt-4 pb-4">
        <img src="/assets/img/chairperson.jpg" class="card-img" alt="Message from Principal">
      </div>
      <div class="col-lg-9 col-md-8 message-body">
        <div class="card-body">
          <p class="card-text py-3">
            This is a message from chairperson about the school, education.
            This is a message from chairperson about the school, education.
            This is a message from chairperson about the school, education.
            This is a message from chairperson about the school, education.
            <a href="https://stx.edu.np/index">Example 1.</a>
            Or
            <a href="http://aryapublichighschool.com/about">Example 2.</a>
          </p>
        </div>
      </div>
  </div>
</section>
