---
layout: page
title: About
permalink: /about/
page_name: about
---

{% include elevator-pitch.html %}

<section class="about-section py-6 wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 about-text">
        <h1 class="our-story"><span class="high-letter">Our Story</span></h1>
        <p class="primary-heading">
          One of the major reasons Nepal is economically a least developed country is that there is little happening in our
          country to promote economic development. Nepal imports over 90% of its goods, and manufactures and exports very little,
          resulting in a huge trade deficit. A major economic overhaul will be required to make Nepal a prosperous country in the
          21st century. To ensure a sustainable base, Nepal must give the highest priority to
          science, technology-creation, and innovation.
        </p>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="embed-responsive embed-responsive-16by9 mt-4">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ejlT4-uDGLQ?start=33" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="">
          </iframe>
        </div>
      </div>
    </div>  


    <div class="row mt-6">
      <div class="col-md-12">
        <p class="secondary-heading">
          Topmost priority must be given to nurturing home-grown inventors, innovators and scientists to promote this economic
          development. Because of the lack of such an initiative at the government and private level, a majority of
          newly-graduated, talented, innovative and creative Nepalis leave the country every year in search of better careers
          and
          opportunities abroad. This is a huge and shameful loss for a country like Nepal. As a result, Nepal remains one of the
          least developed countries, despite so much foreign aid over many years. Unless and until Nepal stops losing creative,
          innovative and talented human resources at such an alarming rate, it will remain an underdeveloped country. This is a
          bitter, but irrefutable fact. The goal of the National Innovation Center is to retain talented and creative people and
          use their talents for the economic development of Nepal, specifically through research and innovation.
        </p>
      </div>
    </div>

    <div class="row">
      {% include vision-mission-values.html %}
    </div>

    <h1 class="our-story wow fadeInUp">Board Members</h1>
    <div class="row board-members wow fadeInUp">
      <div class="col-md-3 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Dr. Mahabir Pun</h5>
            <h6 class="card-subtitle mb-2 text-muted">Chairperson</h6>
            <p class="card-text">
              A teacher, social entrepreneur and an activist. Known for work in applying wireless technologies to develop remote areas of the Himalayas.
              Widely known as "Wireless Man" in Nepal.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Dr. Dinesh Bhuju</h5>
            <h6 class="card-subtitle mb-2 text-muted">Board Member</h6>
            <p class="card-text">
              Adjunct Professor at Agriculture and Forestry University, Nepal and visiting Professor to Northwest University, China.
              PhD from Chiba University, Japan.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Dr. Pramod Dhakal</h5>
            <h6 class="card-subtitle mb-2 text-muted">Board Member</h6>
            <p class="card-text">
              Chairperson at NRNA Academy, Canada Foundation for Nepal.
              Involved in Steering Committee of Open University of Nepal initiative.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Mr. Hari Kumar Silwal</h5>
            <h6 class="card-subtitle mb-2 text-muted">Board Member</h6>
            <p class="card-text">
              Chartered Accountant.
              Social worker, Philanthropist, Writer, Humanitarian
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
