---
layout: page
title: Gallery
permalink: /gallery/
page_name: gallery
---

<section class="gallery-section mt-5 wow fadeInUp">
  {% include elevator-pitch.html %}

  <h2 class="text-center pt-5">Our Gallery</h2>
  <p class="text-center">
    (Click to view as full Image)
  </p>

  <div class="container pt-3 pb-5">
    <div class="row gallery">
      {% for img_index in (1..9) %}
        <div class="col-lg-4 col-md-3 col-xs-12 mb-3">
          <a href="{{ site.url }}/assets/img/gallery/{{img_index}}.jpg">
            <img src="{{ site.url }}/assets/img/gallery/{{img_index}}.jpg" class="img-fluid" alt="" />
          </a>
        </div>
      {% endfor %}  
    </div>
  </div>
</section>
