<div class="main-banner">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-10 col-md-11">
        <div class="style-banner">
          <h4 class="mb-2 wow fadeInUp">SHREE HIMALAYA SECONDARY SCHOOL</h4>
          <h3 class="sub-caption wow fadeInUp">Barpak, Gorkha, NEPAL</span></h3>
          <div class="wow fadeInUp">
            <p class="highlight">Under the Ministry of Education and Sport Government School, Nepal</p>

            <a href="/volunteer" class="btn btn-volunteer rounded-0 py-2 px-5 mt-3 mr-3">Volunteer</a> 
            <a href="/donate" class="btn btn-donate rounded-0 py-2 px-5 mt-3">Donate</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
