<div class="main-banner">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-10 col-md-11">
        <div class="style-banner">
          <h4 class="mb-2 wow fadeInUp">SHREE HIMALAYA SECONDARY SCHOOL</h4>
          <h3 class="sub-caption wow fadeInUp">Barpak, Gorkha, NEPAL</span></h3>
          <div class="wow fadeInUp">
            <p class="highlight">Under the Ministry of Education and Sport Government School, Nepal</p>
            <a href="/about" class="btn btn-success px-4 py-2 mt-3 rounded-0" role="button">Our Story</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
