<section class="ftco-section pb-0 pt-0">
  <div class="container">
    <div class="row">
      <div class="col-md-6 quick-stats d-flex align-items-center wow fadeInLeft">
        <div class="about-text p-md-5 p-4">
          <h2>
            WELCOME
          </h2>
          
          <p class="mt-4">
            Shree Himalaya Secondary School was established in 1961 and registered under the Ministry of Education and Sport Government school, Nepal.
            It is an English medium school located at Barpak Village, Gorkha in Nepal.
            <br><br>
            Our school is dedicated to provide the educational facilities to the students and offers education from classes LKG to 12. Our school encourages the students to actively participate in various co-curricular activities held in school.
          </p>
        </div>
      </div>
      <div class="col-md-6 intro-video-section wow fadeInRight">
        <div class="justify-content-center">
          <div class="text">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/TL8yqZlkBLQ?rel=0" allowfullscreen></iframe>
            </div>

            <div class="p-4">  
              <p class="caption focussed mb-1">
                Let's build our school by ourselves.
                <br>
                हामी आफैंले हाम्रो स्कूल निर्माण गरौं।
              </p>
              <p><a href="/volunteer" class="btn btn-volunteer rounded-0 py-2 px-5 mt-3 mr-3">Volunteer</a> 
              <a href="/donate" class="btn btn-donate rounded-0 py-2 px-5 mt-3">Donate</a></p>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
