<section class="ftco-section pb-0 pt-0">
  <div class="container">
    <div class="row">
      <div class="col-md-6 p-0 quick-stats d-flex align-items-center wow fadeInLeft">
        <div class="about-text">
          <h2>
            WELCOME
          </h2>
          
          <p class="mt-4">
            Shree Himalaya Secondary School was established in 1961 and registered under the Ministry of Education and Sport Government school, Nepal.
            It is a Nepali medium school where English is taught till 3rd class. It is located at Barpak Village, Gorkha in Nepal.
            <br><br>
            Our school is dedicated to provide the educational facilities to the students and offers education from classes ECD to 12. Our school encourages the students to actively participate in various co-curricular activities held in school.
          </p>

          <a href="/about" class="btn btn-success px-4 mt-3 mr-3 rounded-0" role="button">Read More</a>
        </div>
      </div>
      <div class="col-md-6 p-0 wow fadeInRight">
        <div class="justify-content-center mt-3">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/TL8yqZlkBLQ?rel=0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
