<section class="gallery-trailer py-5 wow fadeInUp">
  <h2 class="section-title text-center">Our Gallery</h2>

  <div class="container pt-3">
    <div class="row gallery">
      {% for img_index in (1..6) %}
      <div class="col-lg-4 col-md-3 col-xs-12 mb-4">
        <a href="{{ site.url }}/assets/img/gallery/{{img_index}}.jpg">
          <img src="{{ site.url }}/assets/img/gallery/{{img_index}}.jpg" class="img-fluid" alt="" />
        </a>
      </div>
      {% endfor %}
    </div>
    <div class="row mt-3 view-more">
      <a href="/gallery" role="button" class="btn btn-success py-2 px-5 rounded-0">View All</a>
    </div>
  </div>
</section>
