<section class="how-to-support p-5 wow fadeInUp">
  <div class="container">
    <h2 class="section-title text-center">How To Support</h2>
    <h2 class="quotetext text-center mb-4">
      "You can also take part in making Nepal economically developed nation."
    </h2>

    <div class="row mt-5">
      <div class="support-box col-md-4 col-lg-4 mb-4 text-center">
        <i class="fas fa-donate"></i>
        <h3 class="text-primary h4 my-2 mt-4">Make Donation</h3>
        <div class="text-center caption">
          Bring ideas and skills to help establish and run innovation centers in the most productive ways
        </div>
      </div>
      <div class="support-box col-md-4 col-lg-4 mb-4 text-center">
        <i class="fas fa-user-graduate"></i>
        <h3 class="text-primary h4 my-2 mt-4">Mentoring</h3>
        <div class="text-center caption">
          Sign up to become mentors for talented Nepali innovators and inventors if you are expert
        </div>
      </div>
      <div class="support-box col-md-4 col-lg-4 mb-4 text-center">
        <i class="fas fa-hand-holding-usd"></i>
        <h3 class="text-primary h4 my-2 mt-4">Financial Support</h3>
        <div class="text-center caption">
          Provide one time financial support and/or material support in whatever capacity you can
        </div>
      </div>
    </div>
    <div class="row mt-md-4">  
      <div class="support-box col-md-4 col-lg-4 mb-4 text-center">
        <i class="fas fa-volume-up"></i>
        <h3 class="text-primary h4 my-2 mt-4">Share & Promote</h3>
        <div class="text-center caption">
          Promote the importance of the Innovation Center with your relatives, friends and others
        </div>
      </div>
      <div class="support-box col-md-4 col-lg-4 mb-4 text-center">
        <i class="fas fa-cart-arrow-down"></i>
        <h3 class="text-primary h4 my-2 mt-4">Become Investor</h3>
        <div class="text-center caption">
          Become investors for commercializing the products the innovators develop at NIC Nepal
        </div>
      </div>
    </div>

  </div>
</section>
