<section class="incubation-and-our-support pt-6 pb-4">
  <div class="container-fluid">
    <h2 class="quotetext text-center mb-5">
      "Give a man a fish, You feed him for a day. <br>Teach a man to fish, you feed him for life"
      <span class="author"> - Chinese Axiom</span>
    </h2>

    <div class="row">
      <div class="col-lg-6 col-md-6 border-right wow fadeInLeft">
        <h2 class="section-title text-center">Incubation Process</h2>
        <img src="/assets/img/funnel-bg-trans.png" class="img-fluid" />
      </div>
      <div class="col-lg-6 col-md-6 wow fadeInRight">
        <h2 class="section-title text-center pb-4">Our Support</h2>
        
        <div class="row tab-content">
          <div class="col-md-6 px-5 mt-3 text-center">
            <i class="fas fa-hand-holding-usd"></i>
            <p class="support-caption">Provide full financial support, Induction and Initial ramp up</p>
          </div>
          <div class="col-md-6 px-5 mt-3 text-center">
            <i class="fas fa-graduation-cap"></i>
            <p class="support-caption">Mentoring for accelerating prototype design and product development</p>
          </div>
          <div class="col-md-6 px-5 mt-3 text-center">
            <i class="fas fa-file-import"></i>
            <p class="support-caption">
              Guidance in securing patents, trademarks, intellectual property rights etc
            </p>
          </div>
          <div class="col-md-6 px-5  mt-3 text-center">
            <i class="fas fa-hands-helping"></i>
            <p class="support-caption">
              Introduce to potential investors so they can launch innovative products and services
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
