<section class="why-nic-nepal wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-lg-6">
        <div class="be_part_text">
          <h2 class="section-heading">Why <span class="highlight">NIC Nepal?</span></h2>
          <p class="section-text">
            <i>Nepal imports over 90% of the goods and exports less than 10% which results in huge trade deficit. 
            In order to make Nepal economically prosperous, we need to create products and services within the country
            itself.</i>
            <br><br>
            <span class="text-highlight">
              Nepal must give highest priority to Science, Information Technology and Innovation in order to ensure 
              sustainable base to back the needed <i>Economic Haul</i>.
            </span>  
            <br><br>
            The goal of NIC Nepal is to develop the culture of research and innovation in Nepal, retain talented and 
            creative people from going abroad and use their talent for the economic development of nation 
            specifically through research, technology and innovation.
          </p>       
          <a href="/about" class="btn btn-success py-2 px-4 mt-3 rounded-0">Know More</a>
        </div>
      </div>
      <div class="col-md-4 col-lg-6 text-center mb-4">
        <img src="{{ site.url }}/assets/img/brain.jpg" alt="" class="Brain Image">
      </div>
    </div>
  </div>

  {% include vision-mission-values.html %}
</section>
