.donate-section {
  .heading {
    font-family: 'Oswald', sans-serif;
    color: $color3;
    font-size: 2em;
  }
  .sub-heading {
    font-family: 'Open sans', sans-serif;
    color: #666;
    font-size: 15px;
    font-weight: normal;
  }
  .donate-options {
    font-family: 'Montserrat', sans-serif;
  }
}