<div class="col-lg-4 mt-lg-0 mt-sm-5 mt-4">

  <!-- Event Size: {{ if site.data.events.size }} -->
  <!-- <div class="events p-3 border">
    <h3 class="blog-title mb-1">Recent Events</h3>
    <div class="events-grids">
      {% for event in site.data.events %}
        {% include blogs/event-outline.html event=event %}
      {% endfor %}
    </div>
  </div> -->

  <!-- Subscribe -->
  <div class="follow-us mt-4 p-3 border">     
    <h3 class="blog-title">Follow Us For Latest News!</h3>
    <ul class="social-contacts">
      {% for social in site.data.contacts.social_contacts %}
        <li>
          <a href="{{ social.url }}" target="_blank" class="mr-3"><i class="{{ social.icon }}"></i></a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
